  <div>
    <h1 class="p-title">
      {{fa-icon "info-circle" fixedWidth=true}}
      Searched IOC -
      {{details.Value}}
    </h1>

    <h1 class="p-title">{{fa-icon icon="search" fixedWidth=true}} Detection</h1>

    {{#if details.Geolocation}}
      <div>
        <span class="p-key">Geolocation : </span>
        <span class="p-value">{{details.Geolocation}}</span>
      </div>
    {{/if}}

    {{#if details.Severity}}
      <div>
        <span class="p-key">Severity: </span>
        <span class="severity-key">{{details.Severity}}</span>
      </div>
    {{/if}}

    {{#if details.FirstSeen}}
      <div>
        <span class="p-key">First Seen: </span>
        <span class="p-value">
          {{moment-format
            details.FirstSeen
            "MM/DD/YYYY HH:mm:ss"
            timeZone=timezone
          }}
        </span>
      </div>
    {{/if}}

    {{#if details.LastSeen}}
      <div>
        <span class="p-key">Last Seen: </span>
        <span class="p-value">
          {{moment-format
            details.LastSeen
            "MM/DD/YYYY HH:mm:ss"
            timeZone=timezone
          }}
        </span>
      </div>
    {{/if}}

    {{#if details.Sources}}
      <h1 class="p-title">{{fa-icon icon="box" fixedWidth=true}} Sources</h1>
      {{#each details.Sources as |source|}}
        {{#if (and source.Name source.ConfidenceLevel)}}
          <div class="sources-list">
            <div>
              <span class="p-key">Source: </span>
              <span class="p-value">{{source.Name}}</span>
            </div>
            <div>
              <span class="p-key">Confidence Level: </span>
              <span class="p-value">{{source.ConfidenceLevel}}</span>
            </div>
          </div>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if (gt details.Tags.length 0)}}
      <h1 class="p-title">{{fa-icon icon="tags" fixedWidth=true}} Tags</h1>
        {{#each details.Tags as |tag|}}
          <span class="tag">{{tag}}</span>
        {{/each}}
    {{/if}}

    {{#if (gt details.SystemTags.length 0)}}
      <h1 class="p-title">{{fa-icon icon="tags" fixedWidth=true}} System Tags</h1>
      {{#each details.SystemTags as |tag|}}
         <span class="tag">{{tag}}</span>
      {{/each}}
    {{/if}}

    {{#if (gt details.RelatedMalware.length 0)}}
      <h1 class="p-title">{{fa-icon icon="bug" fixedWidth=true}} Related Malware</h1>
      {{#each details.RelatedMalware as |malware|}}
        <span class="tag">{{malware}}</span>
      {{/each}}
    {{/if}}

    {{#if (gt details.RelatedThreatActors.length 0)}}
      <h1 class="p-title">{{fa-icon icon="user-secret" fixedWidth=true}} Related Threat Actors</h1>
      {{#each details.RelatedThreatActors as |actor|}}
        <span class="tag">{{actor}}</span>
      {{/each}}
    {{/if}}

  </div>